# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Pickle files
*.pkl

# Linux swap files
*.swp

# Project specific (.txts)
*.txt

# LaTeX files
*.aux
*.log
*.out
*.synctex.gz
